<div>
    <h1>Logueate con GitHub</h1>
    <a href="/api/session/github"><button>Entrar con GitHub</button></a>
    <br>
    <h2>Si no puedes usar nuestros enlaces</h2>
    <p>¿No estas registrado? <a href="/users/register">Ingresa aqui</a></p>
    <p>Ya tenes una cuenta? <a href="/users/login">Ingresa aqui</a></p>

</div>