
.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}


h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mb-3 {
    width: 100%;
    margin-bottom: 15px;
}

.form-label {
    font-size: 1em;
    color: #333;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    margin-top: 5px;
}

.form-control:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.form-text {
    font-size: 0.9em;
    color: #666;
    margin-top: 5px;
}


.btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: #fff;
    font-size: 1em;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}


p {
    margin-top: 15px;
    font-size: 0.9em;
    color: #333;
}

a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}


@media (max-width: 400px) {
    .container {
        padding: 15px;
    }

    .form-label,
    .form-control,
    .btn {
        font-size: 0.9em;
    }
}
